.filter-row-mobile {
  display: flex;
  /* gap: 10px; */
  /* padding: 10px; */
  overflow-x: auto;
}

.filter-chip {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #f1f1f1;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 14px;
  min-width: max-content;
  cursor: pointer;
}

.filter-icon {
  font-size: 18px;
  color: #555;
}

.filter-chevron {
  font-size: 16px;
  color: #777;
}

.filter-popover-mobile {
  --width: 100% !important;
  --max-width: 100% !important;
  --height: 60% !important; /* like bottom sheet */
  --border-radius: 16px 16px 0 0;
}
